@model Genre

<div class="card">
                <div class="card-body">
                  <h4 class="card-title">Create new genre</h4>
                  <form method="post" class="forms-sample">
                    <div class="form-group">
                      <label asp-for="@Model.Name"></label>
                      <input asp-for="@Model.Name" class="form-control" placeholder="Name">
                      <span class="text-danger" asp-validation-for="Name"></span>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <a asp-area="manage" asp-controller="genre" asp-action="index" class="btn btn-light">Cancel</a>
                  </form>
                </div>
              </div>