@model List<Genre>

<div class="card">
    <div class="row">
        <div class="col-lg-12">
            <div class="d-flex justify-content-between my-4 px-4">
                <a class="btn btn-primary" asp-area="manage" asp-controller="dashboard" asp-action="index">Go back</a>
                <a class="btn btn-success" asp-area="manage" asp-controller="genre" asp-action="create">Create genre</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <h4 class="card-title">Genres</h4>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Edit
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Genre genre in Model)
                    {
                        <tr>
                            <td class="py-1">
                               @genre.Name
                            </td>
                            <td>
                                <a asp-area="manage" asp-controller="genre" asp-action="update" asp-route-id="@genre.Id" class="btn btn-warning text-white">Update</a>
                                <a asp-area="manage" asp-controller="genre" asp-action="delete" asp-route-id="@genre.Id" class="btn btn-danger text-white">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>