@model Author

<div class="card">
                <div class="card-body">
                  <h4 class="card-title">Delete author</h4>
                  <form method="post" asp-route-id="@Model.Id" class="forms-sample">
                    <div class="form-group">
                      <label asp-for="@Model.FullName">Please type <strong>CONFIRM</strong> if you are sure for delete author</label>
                      <input asp-for="@Model.FullName" value="" class="form-control" placeholder="Title">
                      <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <a asp-area="manage" asp-controller="author" asp-action="index" class="btn btn-light">Cancel</a>
                  </form>
                </div>
              </div>