@model SimplePromotion

<div class="card">
                <div class="card-body">
                  <h4 class="card-title">Delete promotion</h4>
                  <form method="post" class="forms-sample">
                    <div class="form-group">
                      <label asp-for="@Model.RedirectUrl">Please type <strong>CONFIRM</strong> if you are sure for delete this promotion</label>
                      <input asp-for="@Model.RedirectUrl" value="" class="form-control" placeholder="Title">
                      <span asp-validation-for="RedirectUrl" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <a asp-area="manage" asp-controller="simplepromotion" asp-action="index" class="btn btn-light">Cancel</a>
                  </form>
                </div>
              </div>